.header {
  border-bottom: 2px solid rgb(255, 255, 255, 0.1);
  position: relative;
}

.header__title {
  font-weight: 700;
  opacity: 0;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header__selects {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(to bottom, #2a3549, #1a202a);

  position: absolute;
  z-index: 42;
  right: -100%;
  top: 52px;

  transition: all 0.3s ease-out;
}


.header__selects.opened {
  right: 0;
}

@media (min-width: 700px) {
  .header__body {
    height: 80px;
  }
  .header__title {
    margin-right: 25px;
  }
  .header__selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    opacity: 1;
    transform: translate(0, 0);
    position: static;
    background: none;
    height: auto;
    padding: 0;

    min-height: auto;
  }
  .header__title {
    font-size: 20px;
  }
  .header__button {
    display: none;
  }
}