.menu__button {
  font-size: 0;
  position: relative;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  opacity: 0;
}

.menu__button.animated {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__button:focus,
.menu__button:active {
  outline: none;
}

.menu__button span {
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.menu__button:before,
.menu__button:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.3s;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu__button--open:before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu__button--open:after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.menu__button--open span {
  transform: translateY(-50%) scale(0);
}